.image {
    height: 400px;
   /* width: 600px; */
   /* overflow: hidden; */
}
.dog-table {
     background-color: aliceblue; 
     color:rgb(18, 7, 230);
     border: 1px solid hotpink;
}

.dog-table th {
     background-color: rgb(60, 229, 51); 
     color:rgb(4, 3, 33);
     padding: 8px;
}

.dog-table td {
     background-color: aliceblue; 
     padding: 6px;
     border: 1px solid hotpink;
}